Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
src/.deps/
src/Makefile
src/Makefile.in
src/libmatrix.a
src/matrix
src/matrix-matrix_main.o
src/matrix.o
stamp-h1
tests/.deps/
tests/.tests_matrix.c.swp
tests/Makefile
tests/Makefile.in
tests/test-suite.log
tests/tests_matrix
tests/tests_matrix-tests_main.o
tests/tests_matrix-tests_matrix.o
tests/tests_matrix.log
tests/tests_matrix.trs
*.swp
config.h.in~
